@using Winxuan.Web.Models;
@model IEnumerable<Winxuan.Web.Models.TeamViewModel>

<style type="text/css">
    .hidMsgInfo {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<div class="row show-grid">
    <div class="col-lg-6">
        <table class="table table-striped">
            <caption>我的小组</caption>
            <thead>
                <tr>
                    <th>小组名称</th>
                    <th>描述</th>
                    <th>我的权限</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td><div class="hidMsgInfo" title="@data.TeamName">@data.TeamName</div></td>
                        <td><div class="hidMsgInfo" title="@data.TeamDescription">@data.TeamDescription</div></td>
                        <td><div class="hidMsgInfo" title="@data.TeamDescription">@data.RoleDescription</div></td>
                        <td><button class="btn btn-info">查看</button></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-lg-6">
        @Html.Partial("PartFileList")
    </div>
</div>

