@using Winxuan.Web.Models
@model Winxuan.Web.Models.UserViewModel
@{
    Layout = null;
    ViewBag.Title = "组文件";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Styles.Render("~/Content/bootstrap")
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Basic/Basic.css")"/>
    <script src="@Url.Content("~/Scripts/Basic.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @if(Model == null){
                <text>$("#dashboard").hide(); $("#name").hide();</text>
            }else{
                <text>$("#loginform").hide(); $("#forgetpwd").hide(); Basic.loadTeam();</text>
            }
        });
    </script>
</head>
<body>
    <!--navgation bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">组文件</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<!--后一版本增加邮箱后提供忘记密码功能--><li><a href="/Home/FindPwd" id="forgetpwd">忘记密码</a></li>*@
                    @if (Model == null)
                    {
                        <li><a href="javascript:;" id="name"></a></li>
                    }
                    else
                    {
                        <li><a href="javascript:;" id="name">@Model.Name</a></li>
                    }
                    <li class="dropdown" id="dashboard">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">修改密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Home/Logout">注销登录</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">帮&nbsp;&nbsp;助</a></li>
                </ul>
                <form class="navbar-form navbar-right" id="loginform" method="post">
                    <input type="text" class="form-control" placeholder="用户名" id="username" name="username">
                    <input type="password" class="form-control" placeholder="密码" id="password" name="password">
                    <button type="button" class="btn btn-default" id="loginbtn">登&nbsp;&nbsp;录</button>
                    <button type="button" class="btn btn-success" id="registe">注&nbsp;&nbsp;册</button>
                </form>
            </div>
        </div>
    </nav>
    <!--body content-->
    <div class="container" id="body">
        @if (Model == null)
        {
            @Html.Partial("PartialMain")
        }
    </div>
    <!--footer content-->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy;2016 Awu.All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
